# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS settings
*.vscode*

submit.sh
submission.zip
exercise/
additional/

# Projects
*/build

# Project 1
1_route_planner/lib/
1_route_planner/thirdparty/clang
1_route_planner/thirdparty/P0267_RefImpl

# Project 2
# Project 3
# Project 4
4_concurrent_traffic_simulation/lessons
4_concurrent_traffic_simulation/TASKS.md

# Project 5
5_neural_network/fashion-mnist